#app{
    height: 100vh;
    overflow-y: scroll;
}
/* header区域 */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #fff;
    position: fixed;
    width: 100vw;
    z-index: 3;
}
.header .search-input{
    width: 180px;
    background-color: rgb(219, 215, 215);
    padding: 3px 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.header .search-input svg{
    vertical-align: middle;
}
.header .search-input span{
    vertical-align: middle;
    width: 160px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgb(131, 130, 130);
}
.header .avatar svg{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.header .download-btn{
    background-color: #e94e96;
    color: rgb(238, 234, 234);
    font-size: 14px;
    padding:6px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* nav区域 */
.nav{
    transition: all .3s ease-in-out;
    width: 100vw;
    padding-top: 10px;
    position: fixed;
    z-index: 2;
    top: 40px;
    background-color: #fff;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}
.nav .nav_list1{
    vertical-align: middle;
    width: 85%;
    display: inline-block;
}
.nav .nav_list .nav1{
    white-space: nowrap;
    padding: 10px 0;
    overflow-x: scroll;
}
.nav .nav_list ul::-webkit-scrollbar{
    display: none;
}
.nav .nav1 li{
    margin: 0 23px;
}
.nav .nav2 li{
    margin: 0 20px;
    line-height: 30px;
}
.nav .big{
    margin: 0 13px !important;
}
.nav .nav_list ul li{
    font-size: 14px;
    color: rgb(143, 139, 139);
    display: inline-block;
    
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.nav .nav_list .active{
    border-bottom: 2px solid #e94e96;
    color: #e94e96;
}
.nav .control_btn1{
    width: 10%;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    position: relative;
    right: 0;
    top: 0;
}
.nav .control_btn2{
    padding: 10px 0;
    text-align: center;
}
.show{
    transform: translateY(-190px);
    -webkit-transform: translateY(-190px);
    -moz-transform: translateY(-190px);
    -ms-transform: translateY(-190px);
    -o-transform: translateY(-190px);
}

/* banner区域 */
.banner{
    padding-top: 100px;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.banner_list{
    transition: left .5s;
    width: 400vw;
    display: flex;
    position: relative;
    left: 0;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -ms-transition: left .5s;
    -o-transition: left .5s;
}
.banner_list li{
    width: 100vw;
}
.banner_list li img{
    width: 100%;
}
.bannerCircle {
    position: absolute;
    bottom: 5px;
    background-color: #0303037c;
    border-radius: 25px;
    padding: 0px 6px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.bannerCircle li{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bannerActive{
    background-color: #e94e96 !important;
}

/* video区域 */
.video{
    width: 100vw;
}
.video .video_list{
    display: flex;
    flex-wrap: wrap;
}
.video .video_list li{
    width: 50vw;
    padding: 7px;
    box-sizing: border-box;
}
.video .video_list li img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.video .video_list .title{
    font-size: 14px;
    color: rgb(70, 68, 68);
    text-overflow: ellipsis;
    overflow: hidden;
    height: 10vw;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    display: -webkit-box;
}
.video .video_list .poster{
    position: relative;
    border-radius: 10px;
    height: 120px;
    overflow: hidden;
}
.video .video_list .poster .info{
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    bottom: 2px;
    color: rgb(245, 238, 238);
    font-size: 12px;
    padding: 2px 20px;
    background-image: linear-gradient(rgba(33, 33, 33,0),rgba(33, 33, 33,0.5));
}
.video .video_list .poster .info svg{
    vertical-align:middle;
    width: 20px;
    height: 20px;
    fill: #fff;
}
/* footer区域 */
.footer{
    margin-top: 10px;
    padding: 20px 0;
}
.footer div{
    font-size: 14px;
    color: #817f7f;
    text-align: center;
    line-height: 30px;
}